* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 1rem;
  color: #333333;
}

body {
  padding: 0rem;
  margin: 0rem;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.w-100 {
  width: 100% !important;
}

.leftbg {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0;
  background-color: #fff;
}

.onleftbg {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  left: 12%;
  width: 100%;
  text-align: left;
  padding-left: 3%;
}

.choice {
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  text-align: left;
  background-color: #fff;
  transition-duration: 0.2s;
  padding: 0.4rem 0rem 0.4rem 0rem;
  font-size: 1.05rem;
}

.choice:disabled{
  opacity: 0.65;
}

.done {
  cursor: pointer;
  border: none;
  background-color: #2d4863;
  width: 70%;
  height: 2.5rem;
  border-radius: 1rem;
  color: #fff;
  text-align: center;
  transition-duration: 0.2s;
  font-size: 0.9rem;
}

.rightbg {
  height: 100%;
  width: 75%;
  position: fixed;
  overflow-y: auto;
  right: 0;
  background-color: #f4c253;
}

#one {
  width: 20rem;
  height: 20rem;
  background-color: #81b725;
  position: fixed;
  right: 0;
  top: 0;
  filter: blur(9rem);
  opacity: 60%;
}

#two {
  width: 40rem;
  height: 40rem;
  background-color: #81b725;
  position: fixed;
  left: 0;
  bottom: 0;
  filter: blur(9rem);
  opacity: 60%;
}

#three {
  width: 15rem;
  height: 15rem;
  background-color: #e2410a;
  position: fixed;
  right: 0;
  bottom: 0;
  filter: blur(8rem);
  opacity: 70%;
}

.onrightbg {
  height: 100%;
  position: relative;
}

.centered {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translate(0, -50%);
  width: 100%;
}

.toptool {
  text-align: left;
  padding-left: 3%;
  margin-right: 0.5%;
  display: flex;
  justify-content: space-between;
}

.toptool img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 0.1rem solid #fff;
  margin-right: 2rem;
}

.grouptoptool {
  display: inline-flex;
}

#username {
  margin-top: 15%;
}

#logout {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  margin-top: 4.2rem;
  padding-left: 8.2rem;
}

.rightfx {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 4.5rem 1rem 0rem 0rem;
}

.calendarpadding {
  background-color: #fff;
  border-radius: 1rem;
  padding: 0.3rem;
  margin: 1rem 1rem 0rem 1rem;
  box-shadow: 0.02rem 0.02rem 0.8rem 0.08rem #8d9aa8;
  z-index: 1;
}

.calendar {
  display: "block";
  z-index: 2;
}

.year-header {
  background: #fff;
  text-align: center;
  position: relative;
  color: #fff;
  border-top-left-radius: 0.3rem;
  margin-top: 1rem;
}

.year-header span {
  display: inline-block;
  font-size: 1.5rem;
  color: #333333;
}

.left-button,
.right-button {
  cursor: pointer;
  width: 2rem;
  text-align: center;
  position: absolute;
  color: #cccccc !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 1rem !important;
}
@media (prefers-reduced-motion: reduce) {
  .left-button,
  .right-button {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
.left-button:hover,
.right-button:hover {
  color: #2d4863 !important;
}

.left-button {
  left: 0;
}

.right-button {
  right: 0;
  top: 0;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.days-table,
.dates-table,
.months-table {
  border-collapse: separate;
  text-align: center;
  table-layout: fixed;
}

.day {
  height: 1.25rem;
  width: 1.25rem;
  font-size: 1rem;
  padding: 0.6rem;
  text-align: center;
  border-radius: 0.4rem;
  text-transform: uppercase;
  color: #333333;
}

.month {
  cursor: pointer;
  height: 1.25rem;
  width: 1.25rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-transform: uppercase;
  font-size: 1rem;
  color: #cccccc;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

.active-month {
  font-weight: 700;
  color: #333333;
}

.month:hover {
  color: #2d4863;
}

.table-date {
  cursor: pointer;
  color: #2b2b2b;
  font-size: 1rem;
  padding: 0.6rem;
  height: 7vh;
  text-align: center;
  border-radius: 0.4rem;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
  position: relative;
}

.table-date:not(.nil):hover {
  border-color: #f4c253;
}

.event-date-green {
  background: #81b725;
  color: #fff;
}

.event-date-yellow {
  background: #f4c253;
  color: #fff;
}

.event-date-red {
  background: #e2410a;
  color: #fff;
}

.event-date-green.active-date {
  background: #6ba100;
  color: #fff;
}

.event-date-yellow.active-date {
  background: #e6b546;
  color: #fff;
}

.event-date-red.active-date {
  background: #c42300;
  color: #fff;
}

h3 {
  text-align: left;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0;
}